#ajcore-admin {
	background-color:#999;
	color:#lime;
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index: 99;
	top:-1000px;
}
#ajcore-admin h2 {
	font-size: 14px;
	color:lime;
	margin-top: 20px;
	margin-bottom: 10px;
}

#ajcore-admin .site-info p {
	opacity: 1;
	float:left;
	margin-left:20px;
	color:lime;
}

#ajcore-admin .site-info a {
	margin-bottom: 20px;
	font-weight:bold;
}
#ajcore-admin a {
	color:paleturquoise;
	text-decoration: none;

}
#ajcore-admin .site-info hr {
	margin-bottom: 15px;
}
#ajcore-admin .site-info .user {
	margin-top: -5px;
}

/*=== TOGGLE DEV MODE ===*/
.ajcore .toggle-devmode {
	background: #333;
	padding: 10px 15px 5px 5px;
	width:100%;
	height:20px;
	position:fixed;
	top:0px;
	right:0px;
	cursor: pointer;
	z-index:100;
}
.ajcore .toggle-devmode-min {
	float:right;
	width:10px;
	height:2px;
	margin-top:5px;
	background-color:red;
}
.ajcore a:hover {
	color:yellow;
	text-decoration: none;
}
.ajcore .user {
	float:right;
	color:#fff;
	margin-right:10px;
	margin-top: -2px;
}