
/*=================== COMMON STYLES ====================*/

.show-border {
	border: 1px solid #FF0000;
}
.bold {font-weight: bold;}


/*=================== WRAPPERS ====================*/

#CONTENT-WRAPPER {position:relative; margin:auto;}
#CONTENT-BODY {
	min-width:250px; 
	min-height: 300px; 
	margin: auto;
}

/*=================== UI STYLES ====================*/
#UI { 
    position:absolute; 
    top:0px; 
    right:0px;
    white-space: nowrap;
}
#UI p { font-weight: bold;  font-family: verdana;}
#UI a:link {text-decoration: none;color:#333333;}
#UI a:hover {color:#FFCC00;}

#UI .left-terminal {
	background: url('../images/UI_sprite.png') 0 0;
	width:35px;
	height:62px;
	float:left;
}
#UI .left-bar-pattern, #UI .right-bar-pattern {
	background: url('../images/UI_repeating_bar.png') repeat-x;
	height:62px;
	min-width:20px;
	float:left;
}

#UI li {float:left; background: url('../images/UI_repeating_bar.png') repeat-x; padding: 16px 25px 0 25px; height:60px;position:relative;}

#UI .ui-divider {background: url('../images/UI_divider.png') no-repeat; width:3px; height:60px; position:absolute; top:0; left:0;}
#UI .ui-last-divider { background: url('../images/UI_divider.png') no-repeat; width:3px; height:60px; position:absolute; top:0; right:0; }
#UL .ui-divider { background: url('../images/UI_divider.png') no-repeat; width:3px; height: 60px;}

#UI li.selected { background: url('../images/UI_sprite.png') -45px 0; padding: 0 0 0 10px;}

#UI .selected p {color:#000; background: url('../images/UI_selected_terminal.png') no-repeat right 10px; padding: 19px 24px 0 15px;height:100%;}

#UI li.selected .selected-terminal {
	background: url('../images/UI_selected_terminal.png') 0 0;
	width:4px;
	height:62px;

}
#UI .right-terminal {
	background: url('../images/UI_sprite.png') -415px 0;
	width:30px;
	height:62px;
	float: right;
}


/*=================== TEST STYLES ====================*/

#CONTENT-BODY .UI_test, #UISetup {background-color:#808080; width:250px; margin: 20px auto; padding:20px;}
#CONTENT-BODY .test p, #CONTENT-BODY input { margin:8px 0 0 20px; font-size:13px;}
#CONTENT-BODY .test p { padding-left:1px;}