body, html {height:100%;background: #999;}
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #333;
}

a { text-decoration:none; font-size:12px;}
a:hover{}
a:visited{}
p {	font-size:12px;	color:#333; }
h1 { font-size:20px; color:#000; }
h2 { font-size:18px; color:#000; }
h3 { font-size:16px; color:#000; }
.ajcore h3 { margin: 15px 0 0 0; color:#333; }
.red { color:#F00; }
.green { color:#090; }

